@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #1E1F22;
    overflow: hidden;
}

.preload * {
    transition: none !important;
}

.canal--active {
    background-color: #313338;
    color: #F3F4F5;
}

.server:before {
    content: "";
    display: block;
    background-color: #fff;
    width: 5px;
    height: 0;
    position: absolute;
    border-radius: 0 4px 4px 0;
    top: 50%;
    left: -20%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

.server--active:before {
    content: "";
    display: block;
    background-color: #fff;
    width: 5px;
    height: 25px;
    position: absolute;
    border-radius: 0 4px 4px 0;
    top: 50%;
    left: -20%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

.server:hover:before {
    content: "";
    display: block;
    background-color: #fff;
    width: 5px;
    height: 25px;
    position: absolute;
    border-radius: 0 4px 4px 0;
    top: 50%;
    left: -20%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

.online:before {
    content: "";
    display: block;
    background-color: #45cf71;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 100%;
    bottom: 5px;
    left: 25px;
}

.server__icon {
    border-radius: 100%;
    transition: all .3s;
}

.server__text {
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.server__icon:hover {
    border-radius: 30%;
}

.server__icon:hover .server__text {
    opacity: 1;
    visibility: visible;
}

.modal {
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #303031;
}
  
::-webkit-scrollbar-thumb {
    background-color: #57575a;
    border-radius: 20px;
}